<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personenliste</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Personenliste</h1>
    <ul>
        <li th:each="person : ${persons}">
            <span th:text="${person.name}">Name</span>
        </li>
    </ul>
    <br>
    <a th:href="@{/formular}">Neue Person hinzufügen</a>
</body>
</html>